[theme]
theme = "solarized-dark"

[icons]
icons = "awesome4"
[icons.overrides]

[[block]]
block = "custom"
command = "echo -n '\uf109 '; cat /etc/hostname"
interval = "once"

[[block]]
block = "custom"
command = "echo \uf17c Linux `uname -r`"
interval = "once"

[[block]]
block = "pacman"
interval = 600
format = "$icon $both updates available "
format_singular = "$icon $both update available "
format_up_to_date = "$icon system up to date "
critical_updates_regex = "(linux|linux-lts|linux-zen)"
# aur_command should output available updates to stdout (ie behave as echo -ne "update\n")
aur_command = "paru -Qua"

[[block]]
block = "load"
interval = 1
format = "$icon $1m.eng(w:4) "

[[block]]
block = "cpu"
interval = 1
format = "$icon $utilization "

[[block]]
block = "memory"
format = " $icon $mem_used/$mem_total ($mem_used_percents) "

[[block]]
block = "disk_space"
path = "/"
format = " $icon $used/$total "
info_type = "available"
interval = 20
warning = 20.0
alert = 10.0

[[block]]
block = "net"
format = " $icon $ip ^icon_net_down $speed_down ^icon_net_up $speed_up "
interval = 5

{% if inventory_hostname != "packer" %}
[[block]]
block = "backlight"

{% endif %}
[[block]]
block = "sound"
driver = "pulseaudio"
max_vol = 120
[[block.click]]
button = "left"
cmd = "pavucontrol"

[[block]]
block = "battery"
format = " $icon ($percentage) "

[[block]]
block = "time"
interval = 60
format = " $icon $timestamp "
